// Palette 1

$first_light: #e6fdf2;
$first_base: #dafceb;
$first_dark: #91a89d;

$second_light: #cdf2bd;
$second_base: #b4eb9e;
$second_dark: #7a9d6a;

$third_light: #dce698;
$third_base: #cadb6f;
$third_dark: #889148;

$fourth_light: #ceb37a;
$fourth_base: #b98f40;
$fourth_dark: #7b622b;

$fifth_light: #b86d9c;
$fifth_base: #982e6c;
$fifth_dark: #67224b;

$sixth_light: #8962a8;
$sixth_base: #55217f;
$sixth_dark: #3a1857;

$seventh_light: #5b5992;
$seventh_base: #15165e;
$seventh_dark: #100f41;
