.image,
svg.svg {
  position: absolute;
  height: auto;
  width: 100%;
  pointer-events: none;
}

svg.chandelierLights {
  pointer-events: none;
  g {
    g {
      path {
        fill: #e5f3ed;
      }
    }
  }
}

svg.chandelierBase {
  g {
    path {
      pointer-events: all;
      cursor: pointer;
      fill: #e5db8b;

      &:hover {
        fill: red;
      }
    }
  }
}
