.image,
svg.svg {
  position: absolute;
  height: auto;
  width: 100%;
  pointer-events: none;
}

svg.banisterBase {
  path {
    pointer-events: all;
    cursor: pointer;
    fill: #74a06a;

    &:hover {
      fill: red;
    }
  }
}

.banisterDetails {
  //filter: hue-rotate(-180deg);
}
