.image,
.svg.svg {
  position: absolute;
  height: auto;
  width: 100%;
  pointer-events: none;
}

.vaseBase {
  path {
    pointer-events: all;
    cursor: pointer;
    fill: #74a06a;

    &:hover {
      fill: red;
    }
  }
}

svg.vaseFlowersShadow {
  ellipse {
    fill: #982e6c;
  }
}

svg.vaseFlowersLight {
  path {
    fill: #b86d9c;
  }
  ellipse {
    fill: #b86d9c;
  }
}

.vaseFlowersStems {
  pointer-events: none;
}

.vaseDetails {
  pointer-events: none;
}
