.image,
.svg.svg {
  position: absolute;
  height: auto;
  width: 100%;
  cursor: pointer;
}

svg.vaseBase {
  path {
    fill: #74a06a;
  }
}

svg.vaseFlowersShadow {
  ellipse {
    fill: #982e6c;
  }
}

svg.vaseFlowersLight {
  path {
    fill: #b86d9c;
  }
  ellipse {
    fill: #b86d9c;
  }
}

.vaseFlowersStems {
}

.vaseDetails {
}
