.image,
svg.svg {
  position: absolute;
  height: auto;
  width: 100%;
}

svg.baseboardsBase {
  g {
    path {
      fill: #7a9d6a;
    }
    polygon {
      fill: #7a9d6a;
    }
  }
}

.baseboardDetails {
  //filter: hue-rotate(-180deg);
}
