.image,
svg.svg {
  position: absolute;
  height: auto;
  width: 100%;
  pointer-events: none;
}

svg.baseboardsBase {
  g {
    path {
      pointer-events: all;
      cursor: pointer;
      fill: #7a9d6a;

      &:hover {
        fill: red;
      }
    }
    polygon {
      pointer-events: all;
      cursor: pointer;
      fill: #7a9d6a;

      &:hover {
        fill: red;
      }
    }
  }
}

.baseboardDetails {
  //filter: hue-rotate(-180deg);
}
